<input type="checkbox" id="drawer-checkbox" class="menu-checkbox">
<div class="drawer-menu">
  <ul class="drawer-menu-list">
    <li class="drawer-menu-item"><a class="drawer-menu-item-link" href="#">トップページ</a></li>
    <li class="drawer-menu-item"><a class="drawer-menu-item-link" href="#">会員一覧</a></li>
    <li class="drawer-menu-item"><a class="drawer-menu-item-link" href="#">レッスン一覧</a></li>
  </ul>
</div>
<label for="drawer-checkbox" class="menu-background"></label>